@import "variables.scss";
@import "media.scss";

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.5;

  @media (max-width: 991px) {
    font-size: 14px;
  }

  @media (max-width: 575px) {
    font-size: 12px;
  }
}

body {
  min-height: inherit;
  font-family: 'Bitter', 'Open Sans', sans-serif;
  color: var(--c-black);
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--c-bg);
  min-width: 320px;

  &.overflow-hidden {

  }
}

#svg-sprite {
  display: none !important;
}

.flow-container {
  display: flex;
  flex-flow: column;
  min-height: inherit;
  overflow-x: hidden;
  z-index: 3;
}

.content {
  position: relative;
  display: block;
  flex: 1 0 0;

  &-wrapper {
    transition: all 200ms ease-in;
  }
}

.container {
  max-width: 1375px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media (max-width: 575px) {
    padding: 0 23px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--с-primary);

  &:hover {
    color: var(--с-primary);
  }
}
