@import "media.scss";

:root {
  --c-black: black;
  --c-white: white;

  --с-primary: #C56C1A;
  --c-brown: #746B60;
  --c-bg: #EAE3D3;

  --c-white-light: #F7F3EA;
  --c-dark-light: #746B60;

  --c-text: #2A2926;
}
