@import "../variables";

.dropdown {
  position: relative;

  $dropdown: &;

  &-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 9px;
      margin-left: 12px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.85464 0.5H9.15513L5.00488 7.97044L0.85464 0.5Z' stroke='%235A5751'/%3E%3C/svg%3E%0A");
    }
  }

  &-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    margin-top: 19px;

    transition: .2s;
    opacity: 0;
    visibility: hidden;

    &__inner {
      list-style: none;
      padding: 24px 21px 21px 19px;
      margin: 0;
      background: var(--c-white);
    }

    &::before {
      content: "";
      display: block;
      width: 23px;
      height: 23px;
      background-repeat: no-repeat;
      background-position: left top;
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L23 23H0V0Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &__link {
      display: block;
      padding: 5px 16px 7px;
      font-size: 16px;
      line-height: 28px;
      color: var(--c-black);
      text-decoration: none;
      text-transform: initial;

      &:hover {
        color: var(--c-white);
        background: var(--с-primary);
      }
    }
  }

  &.open {
    #{$dropdown}-toggle {
      color: var(--с-primary);
      text-decoration: underline;
    }

    #{$dropdown}-list {
      opacity: 1;
      visibility: visible;
    }
  }
}
