<div class="blind" data-move="blind">
    <div class="blind__icon">
        <svg class="i-icon i-eye">
            <use xlink:href="#i-eye"></use>
        </svg>
    </div>
    <div class="blind__text">Версия для слабовидящих</div>
</div>
