<div class="language">
    <div class="language-item active">
        <a href="#" class="language-item__link">рус</a>
    </div>
    <div class="language-item">
        <a href="#" class="language-item__link">eng</a>
    </div>
</div>
