<nav class="nav" data-move="header-nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="#" class="nav-link">Новости</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">о вампилове</a>
        </li>
        <li class="nav-item dropdown" data-dropdown>
            <div class="dropdown-toggle nav-link">о культурном центре</div>

            <div class="dropdown-list" data-dropdown-list>
                <ul class="dropdown-list__inner">
                    <li class="dropdown-item">
                        <a href="#" class="dropdown-item__link">Наши коллекции</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#" class="dropdown-item__link">Пресса о нас</a>
                    </li>
                    <li class="dropdown-item">
                        <a href="#" class="dropdown-item__link">Отзывы</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">афиша</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">контакты</a>
        </li>
    </ul>
</nav>
