<div class="socials">
    <div class="socials-item">
        <a href="#" class="socials-item__link">
            <img src="../../images/svg/i-vk.svg" alt="" class="socials-item__icon">
        </a>
    </div>
    <div class="socials-item">
        <a href="#" class="socials-item__link">
            <img src="../../images/svg/i-youtube.svg" alt="" class="socials-item__icon">
        </a>
    </div>
    <div class="socials-item">
        <a href="#" class="socials-item__link">
            <img src="../../images/svg/i-ru.svg" alt="" class="socials-item__icon">
        </a>
    </div>
    <div class="socials-item">
        <a href="#" class="socials-item__link">
            <img src="../../images/svg/i-ok.svg" alt="" class="socials-item__icon">
        </a>
    </div>
</div>
